## Version: $Id:  $
## 
## 

## Commentary:
## 
## 

## Changelog:
## 
## 

## 
## Code starts here
## #############################################################################

out
node_modules
*.vsix
.DS_Store

## #############################################################################
## Code ends here
