## Version: $Id:  $
##
##

## Commentary:
##
##

## Changelog:
##
##

##
## Code starts here
## #############################################################################

# Exclude git files
.git
.gitignore

# Exclude VS Code workspace settings
.vscode
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc
.prettierignore

# Exclude build configuration files
tsconfig.json

# Exclude build output directories
# out/
temp/
coverage/

# Exclude node_modules except runtime dependencies
node_modules/

# Exclude OS-specific files
.DS_Store
Thumbs.db

# Exclude package manager lock files (optional)
package-lock.json
yarn.lock

# Exclude documentation and other non-code files
README.md
CHANGELOG.md
LICENCE.md

# Exclude assets
package.curve

## #############################################################################
## Code ends here
