## Version: $Id:  $
##
##

## Commentary:
##
##

## Changelog:
##
##

##
## Code starts here
## #############################################################################

# Exclude git files
.git
.gitignore

# Exclude VS Code workspace settings
.vscode
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc
.prettierignore

# Exclude build configuration files
postcss.config.js
tailwind.config.js
tsconfig.json
tsconfig.web.json
vite.config.ts

# Exclude testing files and configurations
test/
*.spec.*
*.test.*

# Exclude build output directories
# out/
# dist/
temp/
coverage/

# Exclude node_modules except runtime dependencies
node_modules/
!node_modules/jquery/dist
!node_modules/datatables.net/js
!node_modules/clipboard/dist
!node_modules/preline/dist
!node_modules/@vscode/codicons/dist

# Exclude OS-specific files
.DS_Store
Thumbs.db

# Exclude package manager lock files (optional)
package-lock.json
yarn.lock

# Exclude documentation and other non-code files
README.md
CHANGELOG.md
LICENCE.md

# Exclude assets
package.curve
package-mcx.json

## #############################################################################
## Code ends here
