@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-transparent;
    }
}

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging) {
    display: none !important;
}

.dt-scroll-body thead {
    display: none !important;
}

.hljs {
    background: transparent;
    color: var(--vscode-descriptionForeground);
}

.hljs-comment {
    color: var(--vscode-descriptionForeground);
}

.hljs-punctuation,
.hljs-tag {
    color: var(--vscode-descriptionForeground);
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: var(--vscode-descriptionForeground);
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 700;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: var(--vscode-charts-orange);
}

.hljs-section,
.hljs-title {
    color: var(--vscode-charts-orange);
    font-weight: 700;
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: var(--vscode-charts-red);
}

.hljs-literal {
    color: var(--vscode-charts-green);
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: var(--vscode-charts-green);
}

.hljs-meta {
    color: var(--vscode-charts-blue);
}

.hljs-meta .hljs-string {
    color: var(--vscode-charts-blue);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}
